<template>
  <div id="about">
    <h2>About me</h2>
    <p v-for="(paragraph, index) in about"
       :key="index">
      {{ paragraph }}
    </p>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import {
  FETCH_ABOUT,
} from '@/store/modules/Portfolio/constants';

export default {
  name: 'About',
  computed: {
    ...mapState('Portfolio', [
      'about',
    ]),
  },
  methods: {
    ...mapActions('Portfolio', {
      fetchAbout: FETCH_ABOUT,
    }),
  },
  created() {
    this.fetchAbout();
  },
};
</script>

<style lang="scss">
  #about {
    & h2 {
      margin-bottom: 0;
    }

    & h3 {
      margin-top: 0;
    }
  }
</style>
