<template>
  <div id="career">
    <h2>Career</h2>
    <div class="timeline">
      <TimelinePeriod v-for="({ title, time, link, company, projects }, index) in jobs"
                      :title="title"
                      :time="time"
                      :link="link"
                      :company="company"
                      :projects="projects"
                      :key="title"
                      :collapsable="true"
                      :collapsed="index >= jobs.length - 1"/>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import {
  FETCH_JOBS,
} from '@/store/modules/Portfolio/constants';
import TimelinePeriod from '@/components/ui/TimelinePeriod.vue';

export default {
  name: 'Career',
  computed: {
    ...mapState('Portfolio', [
      'jobs',
    ]),
  },
  methods: {
    ...mapActions('Portfolio', {
      fetchJobs: FETCH_JOBS,
    }),
  },
  created() {
    this.fetchJobs();
  },
  components: {
    TimelinePeriod,
  },
};
</script>
