<template>
  <div id="certificates">
    <h2>Certificates</h2>
    <div class="timeline">
      <TimelinePeriod v-for="{title, link, time} in certificates"
                      :title="title"
                      :link="link"
                      :time="time"
                      :key="title"/>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import {
  FETCH_CERTIFICATES,
} from '@/store/modules/Portfolio/constants';
import TimelinePeriod from '@/components/ui/TimelinePeriod.vue';

export default {
  name: 'Certificates',
  components: {
    TimelinePeriod,
  },
  computed: {
    ...mapState('Portfolio', [
      'certificates',
    ]),
  },
  methods: {
    ...mapActions('Portfolio', {
      fetchCertificates: FETCH_CERTIFICATES,
    }),
  },
  created() {
    this.fetchCertificates();
  },
};
</script>
