<template>
  <div id="contact">
    <h2>Contact</h2>
    <div class="contact">
      <span class="contact__location">Praha 10</span>
      <div class="contact__separator"></div>
      <a href="tel:+420728060455">+420 728 060 455</a>
      <div class="contact__separator"></div>
      <a href="mailto:frantisek.bachrony@gmail.com">frantisek.bachrony@gmail.com</a>
      <div class="contact__separator"></div>
      <a href="https://github.com/Frantab"
         rel="noreferrer"
         target="_blank">
        Github
      </a>
      <div class="contact__separator"></div>
      <a href="https://gitlab.com/frantab"
         rel="noreferrer"
         target="_blank">
        GitLab
      </a>
      <div class="contact__separator"></div>
      <a href="https://www.linkedin.com/in/frantisek-bachrony/"
         rel="noreferrer"
         target="_blank">
        Linkedin
      </a>
      <div class="contact__separator"></div>
      <a href="https://twitter.com/frantabachrony"
         rel="noreferrer"
         target="_blank">
        Twiter
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact',
  data() {
    return {};
  },
};
</script>

<style lang="scss">
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__separator {
      width: 2px;
      height: 20px;
      background: color(contact, separator);
    }
  }

  @media only screen and (max-width: 1000px) {
    .contact {
      flex-direction: column;
      align-items: start;

      &__separator {
        display: none;
      }
    }
  }
</style>
