<template>
  <div id="education">
    <h2>Education</h2>
      <div class="timeline">
        <TimelinePeriod v-for="{title, link, time} in education"
                        :title="title"
                        :link="link"
                        :time="time"
                        :key="title"/>
      </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import {
  FETCH_EDUCATION,
} from '@/store/modules/Portfolio/constants';
import TimelinePeriod from '@/components/ui/TimelinePeriod.vue';

export default {
  name: 'Education',
  components: {
    TimelinePeriod,
  },
  computed: {
    ...mapState('Portfolio', [
      'education',
    ]),
  },
  methods: {
    ...mapActions('Portfolio', {
      fetchEducation: FETCH_EDUCATION,
    }),
  },
  created() {
    this.fetchEducation();
  },
};
</script>
