<template>
  <div id="skills">
    <h2>Skills</h2>
    <div class="skills__box">
      <h3>Languages</h3>
      <div class="skills__bubbles">
        <Bubble v-for="skill in skills"
                :class="{ 'bubble--active': selectedSkill.name === skill.name}"
                :name="skill.name"
                :level="skill.level"
                :skill="skill"
                :onBubbleClick="setSelectedSkill"
                :key="skill.name"/>
      </div>
      <div class="skill-detail" v-if="selectedSkill">
        <SkillPartDetail v-for="{name, level} in selectedSkill.parts"
                         :name="name"
                         :level="level"
                         :key="name"/>
      </div>
      <h3>Tools</h3>
      <div class="skills__bubbles">
        <Bubble v-for="{name, level} in tools" :name="name"
                :level="level"
                :clickAble="false"
                :key="name"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import {
  FETCH_SKILLS,
  FETCH_TOOLS,
  SET_SELECTED_SKILL,
} from '@/store/modules/Portfolio/constants';
import Bubble from '@/components/ui/Bubble.vue';
import SkillPartDetail from '@/components/ui/SkillPartDetail.vue';

export default {
  name: 'Skills',
  components: {
    Bubble,
    SkillPartDetail,
  },
  computed: {
    ...mapState('Portfolio', [
      'skills',
      'selectedSkill',
      'tools',
    ]),
  },
  methods: {
    ...mapActions('Portfolio', {
      fetchSkills: FETCH_SKILLS,
      fetchTools: FETCH_TOOLS,
    }),
    ...mapMutations('Portfolio', {
      setSelectedSkill: SET_SELECTED_SKILL,
    }),
  },
  async created() {
    this.fetchTools();
    this.fetchSkills();
  },
};
</script>

<style lang="scss">
  .skills {
    &__bubbles {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: center;
      max-width: 600px;
      margin: 0 auto 1em;
    }
  }

  .skill-detail {
    max-width: 600px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 600px) {
    .skills__bubbles {
      margin: 0 20px;
    }

    .skill-detail {
      margin: 0 20px;
    }
  }
</style>
