html {
    font-size: 16px;
    font-family: $font-family;
    color: color(base, text);
    scroll-behavior: smooth;
  }

  body {
    font-size: 0.9em;
    margin: 0 0 50px 0;
    background-color: color(base, background);
  }

  h1 {
    font-size: $font-size-large;
  }

  h2 {
    font-size: $font-size-medium;
    color: color(base, second-title);
  }

  h3 {
    font-size: $font-size-normal;
  }

  a {
    color: color(base, anchor);
    text-decoration: none;
    &:hover {
      color: color(base, anchor-hover);
    }
  }
