// COLOR HANDLERS
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function color($component, $part) {
    @return map-deep-get($colors, $component, $part);
}
