// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #252525;
$color-orange: #ffbd3b;
$color-yellow: #ffdf7d;
$color-red: #ff6c00;
$color-grey: #b5b5b5;
$color-light-grey: #a5a5a5;
$color-light-green: #a5ab81;
$color-green: #839412;
$color-dark-green: #3a4a2d;

// FONTS
$font-family: 'Open Sans', sans-serif;
$font-size-large: 2.5em;
$font-size-medium: 1.8em;
$font-size-small: 1.3em;
$font-size-normal: 1em;

// COMPONENTS
$colors: (
    'base': (
        'text': $color-white,
        'background': $color-dark,
        'second-title': $color-orange,
        'anchor': $color-white,
        'anchor-hover': $color-grey,
    ),
    'header': (
        'burger-line': $color-white,
        'background': $color-dark,
    ),
    'contact': (
        'separator': $color-red,
    ),
    'skill': (
        'level': $color-light-grey,
        'coverage': $color-light-green,
        'pointer': $color-green,
    ),
    'timeline-period': (
        'title': $color-yellow,
        'hover': $color-grey,
        'dot': $color-green,
        'company': $color-grey,
        'before': $color-dark-green,
    ),
);
