<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="František's CV website">

    <!-- Open Graph -->
    <meta property="og:title" content="František Bachrony">
    <meta property="og:type" content="CV website" />
    <meta property="og:image" content="<%= BASE_URL %>website-preview.jpg">
    <meta property="og:description" content="František's CV website">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@frantabachrony">
    <meta name="twitter:title" content="František Bachrony">
    <meta name="twitter:description" content="František's CV website">
    <meta name="twitter:image" content="<%= BASE_URL %>website-preview.jpg">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>favicon.png">

    <title>František Bachrony</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
