<template>
  <div :style="{ backgroundImage: `url(${backgroundImage}` }"
       class="header-background">
    <div class="header-background__fade"></div>
  </div>
</template>

<script>
import backgroundImage from '@/assets/forest.jpg';

export default {
  name: 'HeaderBackground',
  data() {
    return {
      backgroundImage,
    };
  },
};
</script>


<style lang="scss">
  .header-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;

    &__fade {
      position: relative;
      width: 100%;
      height: 100%;

      &::before {
        content: '';
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0) 0, $color-dark 100%);
        height: 100px;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }

    &--basic {
        background-image: none !important;
        background: color(header, background);
    }
  }
</style>
