<template>
  <div class="headline">
    <h1>František Bachrony</h1>
    <p class="headline__profession">Javascript developer</p>
    <img :src="franta"
         alt="Photo of František Bachrony."/>
  </div>
</template>

<script>
import franta from '@/assets/franta.jpg';

export default {
  name: 'Headline',
  data() {
    return {
      franta,
    };
  },
};
</script>

<style lang="scss">
  .headline {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-top: calc((60vh - 200px) / 2 - 60px);
    margin-bottom: calc((60vh - 200px) / 2);

    & h1 {
      margin: 0;
      text-align: center;
    }

    &__profession {
      font-size: $font-size-small;
      margin: 0;
    }

    & img {
      width: 100px;
      margin-top: 25px;
      border-radius: 100%;
    }
  }
</style>
