<template>
  <nav class="header">
    <a class="header__logo"
       name="home"
       href="/">
      <img :src="logo"
           alt="Františeks logo."/>
    </a>
    <div @click="closeNavbar"
         class="header__navbar header__navbar--closed"
         ref="header">
      <ul class="navbar">
        <li><a href="#about">About</a></li>
        <li><a href="#career">Career</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#certificates">Certificates</a></li>
        <li><a href="#contact">Contact</a></li>
        <li>
          <a href="https://drive.google.com/file/d/1ZoaACByDWTdIvqilJOD4A7SE0BK3deZS"
               rel="noreferrer"
               target="_blank">
            <i class="download icon"></i> PDF
          </a>
        </li>
      </ul>
    </div>
    <div @click="toggleNavbar"
         class="burger">
      <div class="burger__line burger__line--top"></div>
      <div class="burger__line burger__line--middle"></div>
      <div class="burger__line burger__line--bottom"></div>
    </div>
    <HeaderBackground ref="headerBackground"/>
  </nav>
</template>

<script>
import logo from '@/assets/logo.png';
import HeaderBackground from '@/components/layout/HeaderBackground.vue';

export default {
  name: 'Header',
  data() {
    return {
      logo,
    };
  },
  components: {
    HeaderBackground,
  },
  methods: {
    toggleNavbar() {
      this.$refs.header.classList.toggle('header__navbar--opened');
      this.$refs.header.classList.toggle('header__navbar--closed');
      this.$refs.headerBackground.$el.classList.toggle('header-background--basic');
      document.body.classList.toggle('viewport--height');
    },
    closeNavbar() {
      document.body.classList.remove('viewport--height');
      this.$refs.header.classList.remove('header__navbar--opened');
      this.$refs.header.classList.add('header__navbar--closed');
      this.$refs.headerBackground.$el.classList.remove('header-background--basic');
    },
  },
};
</script>

<style lang="scss">
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    &__logo img {
      height: 36px;
    }
  }

  .navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    & li {
      margin: 0px 20px;

      &:last-of-type {
          margin: 0px 0px 0px 20px;
      }
    }
  }

  .burger {
    display: none;
    flex-basis: 20px;
    height: 12px;
    flex-direction: column;
    justify-content: space-between;

    &__line {
      flex-basis: 2px;
      background-color: color(header, burger-line);
    }
  }

  .viewport {
    &--height {
      position: fixed;
    }
  }

  @media only screen and (max-width: 1000px) {
    .burger {
      display: flex;
    }

    .header__navbar {
      &--opened {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100vw;
        height: calc(100vh - 60px);
        background-color: color(header, background);
        z-index: 1;
      }

      &--closed {
        display: none;
      }
    }

    .navbar {
      align-items: start;
      flex-direction: column;

      & li {
        width: 100vw;
        display: block;
        margin: 0;
        padding: 10px 0;
        text-align: center;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
</style>
