<template>
    <div class="portfolio">
        <About />
        <Career />
        <Skills />
        <Education />
        <Certificates />
        <Contact />
    </div>
</template>

<script>
import About from '@/components/portfolio/About.vue';
import Career from '@/components/portfolio/Career.vue';
import Education from '@/components/portfolio/Education.vue';
import Skills from '@/components/portfolio/Skills.vue';
import Certificates from '@/components/portfolio/Certificates.vue';
import Contact from '@/components/portfolio/Contact.vue';

export default {
  name: 'Portfolio',
  data() {
    return {};
  },
  components: {
    About,
    Career,
    Education,
    Skills,
    Certificates,
    Contact,
  },
};
</script>
