<template>
  <div id="App">
    <Header />
    <Headline />
    <router-view />
  </div>
</template>

<script>
import Header from '@/components/layout/Header.vue';
import Headline from '@/components/layout/Headline.vue';

export default {
  name: 'App',
  components: {
    Header,
    Headline,
  },
};
</script>

<style lang="scss">
  #App {
    max-width: 700px;
    margin: 0px auto;
    padding: 0px 20px;
  }

  @media only screen and (max-width: 500px) {
    h1 {
      font-size: $font-size-medium;
    }
  }
</style>
