<template>
  <div v-if="clickAble"
       :id="name"
       @click="onBubbleClick(skill)"
       class="bubble bubble--clickable">
    <p :style="{ fontSize: nameFontSize }">{{ name }}</p>
    <div class="bubble__bar bubble__bar--first"></div>
    <div ref="secondBar"
         class="bubble__bar bubble__bar--second"></div>
  </div>
  <div v-else
       class="bubble"
       :id="name">
    <p :style="{ fontSize: nameFontSize }">{{ name }}</p>
    <div class="bubble__bar bubble__bar--first"></div>
    <div ref="secondBar"
         class="bubble__bar bubble__bar--second"></div>
  </div>
</template>

<script>
export default {
  name: 'Bubble',
  props: {
    name: {
      type: String,
      requrid: true,
    },
    level: {
      type: Number,
      requrid: true,
    },
    skill: {
      type: Object,
      requrid: true,
    },
    clickAble: {
      type: Boolean,
      requrid: false,
      default: true,
    },
    onBubbleClick: {
      type: Function,
      requrid: true,
    },
  },
  computed: {
    nameFontSize() {
      if (this.name.length <= 2) {
        return '1.5em';
      }
      if (this.name.length <= 5) {
        return '1em';
      }

      return '0.7em';
    },
  },
  mounted() {
    if (this.level >= 50 && this.level <= 100) {
      this.$refs.secondBar.style.cssText = `transform: rotate(${45 - (this.level - 50) * 3.6}deg);`;
    }
  },
};
</script>

<style lang="scss">
  .bubble {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      font-size: $font-size-normal;
    }

    &--clickable:hover {
      cursor: pointer;

      .bubble__bar--first {
        border: 6px solid $color-green;
        border-right: 6px solid rgba(165, 171, 129, 0.1);
        border-bottom: 6px solid rgba(165, 171, 129, 0.1);
      }

      .bubble__bar--second {
        border: 6px solid $color-green;
        border-right: 6px solid rgba(165, 171, 129, 0.1);
        border-top: 6px solid rgba(165, 171, 129, 0.1);
      }
    }

    &--active {
      .bubble__bar--first {
        border: 6px solid $color-green;
        border-right: 6px solid rgba(165, 171, 129, 0.1);
        border-bottom: 6px solid rgba(165, 171, 129, 0.1);
      }

      .bubble__bar--second {
        border: 6px solid $color-green;
        border-right: 6px solid rgba(165, 171, 129, 0.1);
        border-top: 6px solid rgba(165, 171, 129, 0.1);
      }
    }
  }

  .bubble__bar {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px solid $color-red;
    box-sizing: border-box;
    border-radius: 100%;

    &--first {
      border: 6px solid $color-red;
      border-right: 6px solid rgba(255, 108, 0, 0.1);
      border-bottom: 6px solid rgba(255, 108, 0, 0.1);
      transform: rotate(-45deg);
    }

    &--second {
      border: 6px solid $color-red;
      border-right: 6px solid rgba(255, 108, 0, 0.1);
      border-top: 6px solid rgba(255, 108, 0, 0.1);
      transform: rotate(45deg);
    }
  }
</style>
