<template>
  <div :id="`${name}Part`"
       class="skill-part-detail">
    <p>{{ name }}</p>
    <div class="skill-part-detail__level">
      <div :style="{ width: level + '%' }"
           class="skill-part-detail__coverage"></div>
      <div :style="{ left: level + '%' }"
           class="skill-part-detail__pointer"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SkillPartDetail',
  props: {
    name: {
      type: String,
      required: true,
    },
    level: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="scss">
  .skill-part-detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px;

    & p {
      margin-right: 20px;
      width: 100px;
    }

    &__level {
      position: relative;
      width: 75%;
      height: 3px;
      background: color(skill, level);
    }

    &__coverage {
      position: relative;
      height: 3px;
      background: color(skill, coverage);
    }

    &__pointer {
      position: absolute;
      width: 12px;
      height: 12px;
      background: color(skill, pointer);;
      border-radius: 100%;
      top: -4px;
    }
  }
</style>
