<template>
  <div class="timeline-period">
    <div class="timeline-period__title">
      <div class="timeline-period__time">
        <div v-if="collapsable"
             @click="togglePeriod"
             class="timeline-period__dot timeline-period__dot--collapsable">
          <div v-if="isCollapsed"
               class="timeline-period__arrow timeline-period__arrow--right"></div>
          <div v-else
               class="timeline-period__arrow timeline-period__arrow--down"></div>
        </div>
        <div v-else
             class="timeline-period__dot">
        </div>
        <span>{{ time }}</span>
      </div>
      <a v-if="link"
         :href="link"
         class="timeline-period__title--link">
        <h3>
          {{ title }} <span v-if="company" class="timeline-period__company">for {{ company }}</span>
        </h3>
      </a>
      <h3 v-else>
        {{ title }} <span v-if="company" class="timeline-period__company">for {{ company }}</span>
      </h3>
    </div>
    <div v-show="!isCollapsed"
         class="timeline-period__content">
      <ul>
        <li v-for="(project, index) in projects"
            :key="index">
          {{ project.description }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimelinePeriod',
  data() {
    return {
      isCollapsed: this.collapsed,
    };
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    time: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      required: false,
    },
    company: {
      type: String,
      required: false,
    },
    projects: {
      type: Array,
      required: false,
    },
    collapsable: {
      type: Boolean,
      required: false,
      default: false,
    },
    collapsed: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  methods: {
    togglePeriod() {
      this.isCollapsed = !this.isCollapsed;
    },
  },
};
</script>

<style lang="scss">
  .timeline-period {
    &__title {
      display: flex;
      align-items: center;
      margin: 10px 0;

      &--link {
        margin-left: 2.1em;

        & h3 {
          margin: 0;
          color: color(timeline-period, title);

          &:hover {
            color: color(timeline-period, hover);
          }
        }
      }
    }

    &__time {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      min-width: 85px;
    }

    &__dot{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: color(timeline-period, dot);
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__arrow {
      position: absolute;
      border: solid color(timeline-period, before);;
      border-width: 0 3px 3px 0;
      width: 7px;
      height: 7px;
      left: 20px;

      @keyframes expand {
        from { transform: rotate(-45deg); }
        to { transform: rotate(45deg); }
      }

      @keyframes collapse {
        from { transform: rotate(45deg); }
        to { transform: rotate(-45deg); }
      }

      &--right {
        transform: rotate(-45deg);
        animation-name: collapse;
        animation-duration: 0.1s;
      }

      &--down {
        transform: rotate(45deg);
        animation-name: expand;
        animation-duration: 0.1s;
      }
    }

    &__company {
      color: color(timeline-period, company);
    }

    &__content {
      position: relative;
      margin-left: 78px;

      &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        background: color(timeline-period, before);
      }

      & ul li {
        position: relative;
        list-style-type: none;
        margin: 20px 0;

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 15px;
          height: 3px;
          background: color(timeline-period, before);
          margin-right: 2em;
          top: 50%;
          left: -40px;
        }
      }
    }
  }
</style>
